<div class="sidebar">
  <div class="sidebar-inner-index">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="<%- url_for("/images/logo.png") %>" alt="vue logo">
    </div><div class="right">
      <h2 class="vue">Vue.js</h2>
      <h1>
        Framework JavaScript
        <br/> Yang Progresif
      </h1>
      <p>
        <a id="modal-player" class="button has-icon" href="javascript:;">
          <%- partial('icons/play') %>
          KENAPA PAKAI VUE.JS?</a>
        <a class="button white" href="<%- url_for("/v2/guide/") %>">MULAI</a>
        <a class="button gray has-icon" href="https://github.com/vuejs/vue" target="_blank">
          <%- partial('icons/github-dark') %>
          GITHUB</a>
      </p>
    </div>
  </div>
</div>

<div id="special-sponsor">
  <h3>Sponsor Spesial</h3>
  <% var specialSponsor = theme.special_sponsors[0]; %>
  <a href="<%- specialSponsor.url %>" target="_blank">
    <img src="<%- url_for(`/images/${specialSponsor.img}`) %>" style="width:160px" alt="Code.xyz Logo">
    <br>
    <span><%- specialSponsor.description %></span>
  </a>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2>Mudah Dipelajari</h2>
      <p>Sudah tahu tentang HTML, CSS, dan JavaScript? Baca panduannya dan mulai buat sesuatu dalam waktu yang singkat.</p>      
    </div>

    <div class="point">
      <h2>Serba Guna</h2>
      <p>Bisa digunakan sebagai <i>library</i> atau <i>framework</i> secara keseluruhan</p>      
    </div>

    <div class="point">
      <h2>Performa Tinggi</h2>
      <p>
        20KB min+gzip Runtime<br>
        <i>Virtual DOM</i> yang super cepat <br>
        Tidak perlu banyak usaha untuk mengoptimalkan performa
      </p>
    </div>
  </div>
</div>

<div id="sponsors">
  <div class="inner">
    <%- partial('partials/sponsors') %>
  </div>
</div>

<div id="news">
  <div class="inner">
    <h3><label for="member_email">Berlangganan ke Buletin Mingguan (bulletin dalam Bahasa Inggris)</label></h3>
    <form
      class="newsletter-form"
      id="revue-form"
      name="revue-form"
      target="_blank"
      action="https://www.getrevue.co/profile/vuenewsletter/add_subscriber"
      method="post"
      @submit="subscribe"
    >
      <input
        class="newsletter-input"
        type="email"
        name="member[email]"
        id="member_email"
        required
        placeholder="Alamat Surel"
      >
      <input
        class="button newsletter-button"
        type="submit"
        value="Berlangganan"
        name="member[subscribe]"
        id="member_submit"
      >
    </form>
    <p>
      Kalian bisa membaca informasi dan <i>podcast</i> tentang VueJS di <a href="https://news.vuejs.org">news.vuejs.org</a> (artikel dalam Bahasa Inggris).      
    </p>
  </div>
</div>

<div id="footer">
  <p>
    <a class="social-icon" href="https://github.com/vuejs/vue" target="_blank">
      <%- partial('icons/github') %>
    </a>
    <a class="social-icon" href="https://twitter.com/vuejs" target="_blank">
      <%- partial('icons/twitter') %>
    </a>
    <a class="social-icon" href="https://medium.com/the-vue-point" target="_blank">
      <%- partial('icons/medium') %>
    </a>
  </p>
  <p>Dirilis dengan lisensi <a href="https://opensource.org/licenses/MIT" target="_blank">MIT License</a><br>
  Hak Cipta &copy; 2014-<%- new Date().getFullYear() %> Evan You</p>
</div>

<div id="video-modal" class="modal">
  <div class="video-space" style="padding: 56.25% 0 0 0; position: relative;"><iframe src="https://player.vimeo.com/video/247494684" style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div><script src="https://player.vimeo.com/api/player.js"></script>
  <p class="modal-text">Video oleh <a href="https://www.vuemastery.com" target="_blank" rel="noopener" title="Kursus Vue.JS di Vue Mastery">Vue Mastery</a>. Tonton Vue Mastery’s dengan gratis <a href="https://www.vuemastery.com/courses/intro-to-vue-js/vue-instance/" target="_blank" rel="noopener" title="Kursus Vue.JS di Vue Mastery">Kursus Pengenalan Vue</a>.
  </p>
</div>

<script>
(function () {
  var topScrolled = false
  var sponsors = document.getElementById('sponsors')
  var sponsorTop = sponsors.offsetTop
  var sponsorActive = false

  window.addEventListener('resize', function () {
    sponsorTop = sponsors.offsetTop
  })

  window.addEventListener('scroll', function () {
    if (window.pageYOffset > 165 && !topScrolled) {
      topScrolled = true
      document.getElementById('mobile-bar').classList.remove('top')
    } else if (window.pageYOffset <= 165 && topScrolled) {
      topScrolled = false
      document.getElementById('mobile-bar').classList.add('top')
    }
    if (window.pageYOffset > sponsorTop - 100) {
      if (!sponsorActive) {
        sponsorActive = true
        sponsors.classList.add('active')
      }
    } else {
      if (sponsorActive) {
        sponsorActive = false
        sponsors.classList.remove('active')
      }
    }
  })
})()
</script>
