<div class="sidebar">
  <ul class="main-menu">
    <%- partial('partials/main_menu', { context: 'sidebar' }) %>
  </ul>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="<%- url_for("/images/logo.png") %>">
    </div><div class="right">
      <h2 class="vue">Vue.js</h2>
      <h1>
        O Framework<br>Javascript Progressivo
      </h1>
      <p>
        <a class="button" href="<%- url_for("/v2/guide/") %>">COMEÇAR</a>
        <a class="button white" href="https://github.com/vuejs/vue" target="_blank">GITHUB</a>
      </p>
    </div>
  </div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2>Acessível</h2>
      <p>Já conhece HTML, CSS e JavaScript? Leia o guia e comece a criar aplicações sem perder tempo!</p>
    </div>

    <div class="point">
      <h2>Versátil</h2>
      <p>Simples, um núcleo mínimo com adaptabilidade em camadas incrementais para lidar com aplicações de qualquer tamanho.</p>
    </div>

    <div class="point">
      <h2>Performático</h2>
      <p>
        19kb min+gzip Runtime<br>
        Virtual DOM incrivelmente rápido<br>
        Esforço mínimo para otimizações
      </p>
    </div>
  </div>
</div>

<div id="sponsors">
  <div class="inner">
    <h3>ORGULHOSAMENTE MANTIDO POR</h3>
    <%- partial('partials/sponsors') %>
    <br>
    <a class="become-sponsor button white" href="<%- url_for("/support-vuejs/") %>">Seja um Patrocinador</a>
  </div>
</div>

<div id="footer">
  <a href="https://www.shuttleworthfoundation.org/fellows/flash-grants/" target="_blank">
    <img src="/images/shuttleworth.png" style="width:200px">
  </a>
  <p>Distribuído sob a <a href="https://opensource.org/licenses/MIT" target="_blank">Licença MIT</a><br>
  Copyright &copy; 2014-<%- new Date().getFullYear() %> Evan You</p>
</div>

<script>
var topScrolled = false
window.addEventListener('scroll', function () {
  if (window.pageYOffset > 165 && !topScrolled) {
    topScrolled = true
    document.getElementById('mobile-bar').classList.remove('top')
  } else if (window.pageYOffset <= 165 && topScrolled) {
    topScrolled = false
    document.getElementById('mobile-bar').classList.add('top')
  }
})
</script>
