<div class="sidebar">
  <div class="sidebar-inner-index">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="<%- url_for("/images/logo.png") %>">
    </div><div class="right">
      <h2 class="vue">Vue.js</h2>
      <h1>
        O Framework<br>Javascript Progressivo
      </h1>
      <p>
        <a class="button" href="<%- url_for("/v2/guide/") %>">COMEÇAR</a>
        <a class="button white" href="https://github.com/vuejs/vue" target="_blank">GITHUB</a>
      </p>
    </div>
  </div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2>Acessível</h2>
      <p>Já conhece HTML, CSS e JavaScript? Leia o guia e comece a criar aplicações sem perder tempo!</p>
    </div>

    <div class="point">
      <h2>Versátil</h2>
      <p>Ecossistema com adoção incremental, escala de uma simples biblioteca a um <i>framework</i> completo.</p>
    </div>

    <div class="point">
      <h2>Performático</h2>
      <p>
        20KB min+gzip Runtime<br>
        Virtual DOM Incrivelmente Rápido<br>
        Esforço Mínimo para Otimizações
      </p>
    </div>
  </div>
</div>

<div id="sponsors">
  <div class="inner">
    <%- partial('partials/sponsors') %>
  </div>
</div>

<div id="footer">
  <a href="https://www.shuttleworthfoundation.org/fellows/flash-grants/" target="_blank">
    <img src="/images/shuttleworth.png" style="width: 200px;">
  </a>
  <p>Distribuído sob a <a href="https://opensource.org/licenses/MIT" target="_blank">Licença MIT</a><br>
  Copyright &copy; 2014-<%- new Date().getFullYear() %> Evan You</p>
</div>

<script>
(function () {
  var topScrolled = false
  var sponsors = document.getElementById('sponsors')
  var sponsorTop = sponsors.offsetTop
  var sponsorActive = false

  window.addEventListener('resize', function () {
    sponsorTop = sponsors.offsetTop
  })

  window.addEventListener('scroll', function () {
    if (window.pageYOffset > 165 && !topScrolled) {
      topScrolled = true
      document.getElementById('mobile-bar').classList.remove('top')
    } else if (window.pageYOffset <= 165 && topScrolled) {
      topScrolled = false
      document.getElementById('mobile-bar').classList.add('top')
    }
    if (window.pageYOffset > sponsorTop - 100) {
      if (!sponsorActive) {
        sponsorActive = true
        sponsors.classList.add('active')
      }
    } else {
      if (sponsorActive) {
        sponsorActive = false
        sponsors.classList.remove('active')
      }
    }
  })
})()
</script>
