<% var isIndex = page.path === 'index.html' %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%- page.title ? page.title + ' - ' : '' %>vue.js</title>
        <meta charset="utf-8">
        <meta name="description" content="<%- theme.site_description %>">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <meta property="og:type" content="article">
        <meta property="og:title" content="<%- page.title ? page.title + ' - ' : '' %>vue.js">
        <meta property="og:description" content="<%- theme.site_description %>">
        <meta property="og:image" content="https://<%- theme.root_domain %>/images/logo.png">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="<%- page.title ? page.title + ' - ' : '' %>vue.js">
        <meta name="twitter:description" content="<%- theme.site_description %>">
        <meta name="twitter:image" content="https://<%- theme.root_domain %>/images/logo.png">

        <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto Mono' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Dosis:500&text=Vue.js' rel='stylesheet' type='text/css'>
        <link href="//cdn.jsdelivr.net/docsearch.js/1/docsearch.min.css" rel='stylesheet' type='text/css'>
        <link rel="icon" href="/images/logo.png" type="image/x-icon">
        <script>
            window.PAGE_TYPE = "<%- page.type %>"
        </script>
        <%- css(isIndex ? 'css/index' : 'css/page') %>
        <%- partial('partials/ga') %>
        <script src="/js/vue.js"></script>
    </head>
    <body class="<%- isIndex ? '' : 'docs' -%>">
        <div id="mobile-bar" <%- isIndex ? 'class="top"' : '' %>>
            <a class="menu-button"></a>
            <a class="logo" href="/"></a>
        </div>
        <%- partial('partials/header') %>
        <% if (!isIndex) { %>
            <div id="main" class="fix-sidebar">
                <% if (page.blog_index) { %>
                    <%- partial('partials/blog') %>
                <% } else { %>
                    <%- body %>
                <% } %>
            </div>
            <script src="//cdn.jsdelivr.net/docsearch.js/1/docsearch.min.js"></script>
            <script src="/js/smooth-scroll.min.js"></script>
            <script src="/js/common.js"></script>
        <% } else { %>
            <%- body %>
        <% } %>

        <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                FastClick.attach(document.body);
            }, false);
        </script>
    </body>
</html>
