<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%- page.title ? page.title + ' - ' : '' %>vue.js</title>
        <meta charset="utf-8">
        <meta name="description" content="Vue.js - Intuitive, Fast and Composable MVVM for building interactive interfaces.">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Lato' rel='stylesheet' type='text/css'>
        <link rel="icon" href="/images/logo.png" type="image/x-icon">
        <script>
            window.PAGE_TYPE = "<%- page.type %>"
            // G+ button
            ;(function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
        </script>
        <script src="/js/classList.js"></script>
        <%- css(page.index ? 'css/index' : 'css/page') %>
        <%- partial('partials/ga') %>
    </head>
    <body>
        <% if (page.index) { %>
            <%- partial('partials/landing') %>
        <% } else { %>
            <%- partial('partials/header') %>
        <% } %>
        <div id="main">
            <%- body %>
        </div>
        <script src="/js/common.js"></script>
    </body>
</html>