<% if (page.type) { %>
    <%- partial('partials/sidebar', { type: page.type, index: page.index }) %>
<% } %>
<div class="content <%- page.type ? page.type + ' with-sidebar' : '' %>">
    <h1><%- page.type === 'examples' ? '示例: ' : '' %><%- page.title %></h1>
    <div id="ad">
        <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=vuejs" id="_carbonads_js"></script>
    </div>
    <%- page.content %>
    <div class="footer">发现了问题或想要贡献？来 Github 给 Vue.js <a href="https://github.com/vuejs/vuejs.org" target="_blank">英文站点</a>或<a href="https://github.com/Jinjiang/vuejs.org/tree/lang-zh" target="_blank">中文翻译</a>来个 Fork 吧！</div>
</div>