<% if (page.type) { %> <%- partial('partials/sidebar', { type: page.type ===
'menu' ? 'guide' : page.type, index: page.index }) %> <% } else { %>
<div class="sidebar">
  <ul class="main-menu">
    <%- partial('partials/main_menu', { context: 'sidebar' }) %>
  </ul>
</div>
<% } %>

<div class="content <%- page.type ? page.type + ' with-sidebar' : '' %> <%- page.type === 'guide' ? page.path.replace(/.+\//, '').replace('.html', '') + '-guide' : '' %>">
  <p class="tip warning v3-warning">
    You’re browsing the documentation for v2.x and earlier.
    For v3.x, <a href="https://v3.vuejs.org/">click here</a>.
  </p>

  <% if (page.type) { %>
    <% if (page.type === 'menu') { %>
      <form id="search-form">
        <input type="text" id="search-query-menu" aria-label="Search Vue.JS site" class="search-query st-default-search-input">
      </form>
      <%- partial('partials/toc', { type: 'guide' }) %>
    <% } else { %>
      <%- partial('partials/ad') %>
    <% } %>
  </div>
  <% } %>
  <div class="footer">
    <%_ if (!page.sponsors) { _%>
      <%- partial('partials/ad-text') %>
    <%_ } _%>
    Znalazłeś błąd lub chcesz przyczynić się do rozwoju dokumentacji?
    <a href="https://github.com/vuejs/vuejs.org/blob/master/src/<%- page.path.replace(/\.html$/, '.md') %>" rel="noopener" target="_blank">
      Edytuj tą stronę na GitHub!
    </a>
    Deployed on
    <a href="https://url.netlify.com/HJ8X2mxP8" rel="noopener" target="_blank">
      Netlify
    </a>.
  </div>
</div>
