<% if (page.type) { %>
    <%- partial('partials/sidebar', { type: page.type, index: page.index }) %>
<% } else { %>
  <div class="sidebar">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
<% } %>
<div class="content <%- page.type ? page.type + ' with-sidebar' : '' %> <%- page.type === 'guide' ? page.path.replace(/.+\//, '').replace('.html', '') + '-guide' : '' %>">
    <%- partial('partials/ad') %>
    <h1><%- page.title %><%- page.type === 'examples' ? ' Example' : '' %></h1>
    <%- page.content %>
    <% if (page.type === 'guide') { %>
      <div class="guide-links">
        <% site.pages.find({ type: page.type, order: page.order - 1 }).each(function (page) { %>
          <span>← <a href="<%- url_for(page.path) %>"><%- page.title %></a></span>
        <% }) %>
        <% site.pages.find({ type: page.type, order: page.order + 1 }).each(function (page) { %>
          <span style="float:right"><a href="<%- url_for(page.path) %>"><%- page.title %></a> →</span>
        <% }) %>
      </div>
    <% } %>
    <div class="footer">
      发现错误？想参与编辑？
      <a href="https://github.com/dingyiming/vuejs.org/tree/2.0-cn/src/<%- page.path.replace(/\.html$/, '.md') %>" target="_blank">
        在 Github 上编辑此页！
      </a>
    </div>
</div>
