<h1>Vue.js Entwicklung unterstützen</h1>

<p>
Vue.js ist ein MIT lizenziertes, quelloffenes Projekt und vollständig kostenlos.
Jedoch ist der geforderte Aufwand um das Projekt zu warten und neue Features zu entwicken ohne entsprechende finanzielle Unterstützung nicht tragbar. Du kannst die Entwicklung von Vue.js via folgender Methoden unterstützen:
</p>

<h2 id="One-time-Donations">Einmalige Spenden</h2>

<p>Wir akzeptieren folgende Kanäle für Spenden:</p>

<div id="one-time-donations">
  <a href="https://www.paypal.me/evanyou" target="_blank">
    <img src="/images/paypal.png" style="width:100px">
  </a>
  <a href="#btc"><%- partial('icons/btc') %> BTC</a>
  <a href="#bch"><%- partial('icons/bch') %> BCH</a>
  <a href="#eth"><%- partial('icons/eth') %> ETH</a>
  <a href="#ltc"><%- partial('icons/ltc') %> LTC
  </a>
</div>

<div id="coin-details" v-if="type && coins[type]">
  <p>{{ coins[type].name }} Adresse:<br>{{ coins[type].address }}</p>
  <img :src="'/images/coin-' + type + '.png'">
</div>
<script>
var coins = new Vue({
  el: '#coin-details',
  data: {
    type: window.location.hash.slice(1),
    coins: {
      btc: {
        name: 'Bitcoin',
        address: '14MEpy5a9MwDZa9CUzrfDhTU8dy2KKJ5mU'
      },
      bch: {
        name: 'Bitcoin Cash',
        address: '15gftB3fwumFRWGWFhVzTgc4nhM5w1F2Tu'
      },
      eth: {
        name: 'Ethereum',
        address: '0x3411356C1f0Bf5D859464eD2AC54DD2C222519B7'
      },
      ltc: {
        name: 'Litecoin',
        address: 'LUcHis3B8SFtEeZtuCaZoqsyN9XFAKmbCP'
      }
    }
  }
})
window.addEventListener('hashchange', function () {
  coins.type = window.location.hash.slice(1)
})
</script>

<h2 id="Recurring-Pledges">Wiederkehrende Spenden</h2>

<p>
Wiederkehrende Spenden kommen mit exklusiven Vorteilen, beispw. kann dein Name in der GitHub Repository aufgeführt oder das Logo deiner Firma auf dieser Seite angezeigt werden.
</p>

<ul>
  <li>
    <a href="https://www.patreon.com/evanyou" target="_blank">Werde Sponsor mit Patreon</a> (geht direkt an Evan You um seine Vollzeittätigkeit an Vue zu unterstützen)
  </li>
  <li>
    <a href="https://opencollective.com/vuejs">Werde Sponsor mit OpenCollective</a> (geht an einen transparenten Fonds um Veranstaltungen und die Bemühungen der Community zu unterstützen)
  </li>
</ul>

<h2>Derzeitige Premium Sponsoren:</h2>

<h3>Außerordentliche Sponsoren</h3>

<p class="platinum">
<%_ for (const sponsor of theme.special_sponsors) {_%>
  <a href="<%- sponsor.url %>" target="_blank">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>"<%- (sponsor.big_width || sponsor.big_height) ? ` style="${sponsor.big_width ? `width:${sponsor.big_width};`: ``}${sponsor.big_height ? `height:${sponsor.big_height};` : ``}"` : `` %>>
  </a>
<%_ } _%>
</p>

<h3>Platin</h3>

<p class="platinum">
<%_ for (const sponsor of theme.platinum_sponsors) {_%>
  <a href="<%- sponsor.url %>" target="_blank">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>">
  </a>
<%_ } _%>
</p>

<h3>OpenCollective Platin</h3>

<p class="open-collective-sponsors sponsor-section">
<%_ for (let i = 0; i < 3; i++) {_%>
  <a href="https://opencollective.com/vuejs/tiers/platinum-sponsors/<%- i %>/website" target="_blank">
    <img src="https://opencollective.com/vuejs/tiers/platinum-sponsors/<%- i %>/avatar.svg">
  </a>
<%_ } _%>
</p>

<h3>Patreon Gold</h3>

<p class="patreon-sponsors sponsor-section">
<%_ for (const sponsor of theme.gold_sponsors) {_%>
  <a href="<%- sponsor.url %>" target="_blank">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>">
  </a>
<%_ } _%>
</p>

<h3>OpenCollective Gold</h3>

<p class="open-collective-sponsors sponsor-section">
<%_ for (let i = 0; i < 10; i++) {_%>
  <a href="https://opencollective.com/vuejs/tiers/gold-sponsors/<%- i %>/website" target="_blank">
    <img src="https://opencollective.com/vuejs/tiers/gold-sponsors/<%- i %>/avatar.svg">
  </a>
<%_ } _%>
</p>

<h3>Patreon Silber</h3>

<p class="patreon-sponsors sponsor-section">
<%_ for (const sponsor of theme.silver_sponsors) {_%>
  <a href="<%- sponsor.url %>" target="_blank">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>">
  </a>
<%_ } _%>
</p>

<p>
Wenn du ein Geschäft betreibst und Vue in einem gewinnbringenden Produkt einsetzt ist es unternehmerisch sinnvoll die Entwicklung von Vue zu sponsern: <b>Es stellt sicher, dass das Projekt, auf welches dein Produkt angewiesen ist, gesund bleibt und aktiv gewartet wird.</b> Es kann auch deinen Bekanntheitsgrad in der Vue-Community erhöhen und es dir erleichern neue Vue-Entwckler anzuziehen.
</p>

<p>
Wenn du Vue als Individuum benuzt und gesteigerte Produktivität erfahren hast, überlege bitte, ob du dich mit einer Spende bedanken kannst - beispw. könntest du mir hin und wieder einen Kaffee ausgeben :)
</p>
