<h1>支持 Vue.js 的开发</h1>

<p>
Vue.js 是采用 MIT 许可的开源项目，使用完全免费。
然而，维护和开发项目新功能需要耗费大量的精力，如果没有适当的资金支持，就不可能长期坚持下去。你可以通过以下几种方式来支持 Vue.js 的开发：
</p>

<h2 id="One-time-Donations">单次捐助</h2>

<p>We accept donations through these channels:</p>

<div id="one-time-donations">
  <a href="https://www.paypal.me/evanyou" target="_blank">
    <img src="/images/paypal.png" style="width:100px">
  </a>
  <a href="#btc"><%- partial('icons/btc') %> BTC</a>
  <a href="#bch"><%- partial('icons/bch') %> BCH</a>
  <a href="#eth"><%- partial('icons/eth') %> ETH</a>
  <a href="#ltc"><%- partial('icons/ltc') %> LTC
  </a>
</div>

<div id="coin-details" v-if="type && coins[type]">
  <p>{{ coins[type].name }} Address:<br>{{ coins[type].address }}</p>
  <img :src="'/images/coin-' + type + '.png'">
</div>
<script>
var coins = new Vue({
  el: '#coin-details',
  data: {
    type: window.location.hash.slice(1),
    coins: {
      btc: {
        name: 'Bitcoin',
        address: '14MEpy5a9MwDZa9CUzrfDhTU8dy2KKJ5mU'
      },
      bch: {
        name: 'Bitcoin Cash',
        address: '15gftB3fwumFRWGWFhVzTgc4nhM5w1F2Tu'
      },
      eth: {
        name: 'Ethereum',
        address: '0x3411356C1f0Bf5D859464eD2AC54DD2C222519B7'
      },
      ltc: {
        name: 'Litecoin',
        address: 'LUcHis3B8SFtEeZtuCaZoqsyN9XFAKmbCP'
      }
    }
  }
})
window.addEventListener('hashchange', function () {
  coins.type = window.location.hash.slice(1)
})
</script>

<h2 id="Recurring-Pledges">周期性赞助</h2>

<p>
周期性赞助可以获得特殊待遇，比如你的名字会出现在 Vue 的 GitHub 仓库中，再比如你的公司 logo 会出现在我们的官网上。
</p>

<ul>
  <li>
    <a href="https://www.patreon.com/evanyou" target="_blank">通过 Patreon 成为支持者或赞助商</a>（用于直接支持 Evan You 对 Vue 的全职开发工作）
  </li>
  <li>
    <a href="https://opencollective.com/vuejs">通过 OpenCollective 成为支持者或赞助商</a>（加入一个有着公开透明费用模式的社区，以及通过努力工作和项目活动支持社区）
  </li>
</ul>

<h2>当前高级赞助商：</h2>

<h3>特别赞助商</h3>

<p class="platinum">
<%_ for (const sponsor of theme.special_sponsors) {_%>
  <a href="<%- sponsor.url %>" target="_blank">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>"<%- (sponsor.big_width || sponsor.big_height) ? ` style="${sponsor.big_width ? `width:${sponsor.big_width};`: ``}${sponsor.big_height ? `height:${sponsor.big_height};` : ``}"` : `` %>>
  </a>
<%_ } _%>
</p>

<h3>全球白金赞助商</h3>

<p class="platinum">
<%_ for (const sponsor of theme.platinum_sponsors) {_%>
  <a href="<%- sponsor.url %>" target="_blank">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>">
  </a>
<%_ } _%>
</p>

<h3>OpenCollective 白金赞助商</h3>

<p class="open-collective-sponsors sponsor-section">
<%_ for (let i = 0; i < 3; i++) {_%>
  <a href="https://opencollective.com/vuejs/tiers/platinum-sponsors/<%- i %>/website" target="_blank">
    <img src="https://opencollective.com/vuejs/tiers/platinum-sponsors/<%- i %>/avatar.svg">
  </a>
<%_ } _%>
</p>

<h3>Patreon 黄金赞助商</h3>

<p class="patreon-sponsors sponsor-section">
<%_ for (const sponsor of theme.gold_sponsors) {_%>
  <a href="<%- sponsor.url %>" target="_blank">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>">
  </a>
<%_ } _%>
</p>

<h3>OpenCollective 黄金赞助商</h3>

<p class="open-collective-sponsors sponsor-section">
<%_ for (let i = 0; i < 10; i++) {_%>
  <a href="https://opencollective.com/vuejs/tiers/gold-sponsors/<%- i %>/website" target="_blank">
    <img src="https://opencollective.com/vuejs/tiers/gold-sponsors/<%- i %>/avatar.svg">
  </a>
<%_ } _%>
</p>

<p>
如果你是企业经营者，并且将 Vue 用在商业营收产品中，那么赞助 Vue 具有商业上的益处：**可以确保你的产品所依赖的项目，能够保持健康和得到积极的维护**，也能帮助你在 Vue 社区里获得更高的曝光度，从而更容易地吸引到 Vue 开发者。
</p>

<p>
  如果你是个人开发者，并且享受 Vue 带来的高开发效率，请考虑通过捐赠来表示感谢 - 比如偶尔给我买杯咖啡 :)
</p>
