<h1>Sponsoruj rozwój Vue.js</h1>

<p>
Vue.js jest otwarto źródłowym projektem na licencji MIT. Całkowicie za darmo.
Jednakże ilość pracy potrzebnej do utrzymania i wprowadzania nowych funkcji nie jest możliwa bez odpowiedniego zaplecza finansowego. Możesz wesprzeć rozwój Vue.js poprzez następujące sposoby:
</p>

<h2 id="One-time-Donations">Wpłata jednorazowa</h2>

<p>Akceptujemy wpłaty przez takie kanały jak:</p>

<div id="one-time-donations">
  <a href="https://www.paypal.me/evanyou" target="_blank">
    <img src="/images/paypal.png" style="width:100px">
  </a>
  <a href="#btc"><%- partial('icons/btc') %> BTC</a>
  <a href="#bch"><%- partial('icons/bch') %> BCH</a>
  <a href="#eth"><%- partial('icons/eth') %> ETH</a>
  <a href="#ltc"><%- partial('icons/ltc') %> LTC
  </a>
</div>

<div id="coin-details" v-if="type && coins[type]">
  <p>{{ coins[type].name }} Adres:<br>{{ coins[type].address }}</p>
  <img :src="'/images/coin-' + type + '.png'">
</div>
<script>
var coins = new Vue({
  el: '#coin-details',
  data: {
    type: window.location.hash.slice(1),
    coins: {
      btc: {
        name: 'Bitcoin',
        address: '14MEpy5a9MwDZa9CUzrfDhTU8dy2KKJ5mU'
      },
      bch: {
        name: 'Bitcoin Cash',
        address: '15gftB3fwumFRWGWFhVzTgc4nhM5w1F2Tu'
      },
      eth: {
        name: 'Ethereum',
        address: '0x3411356C1f0Bf5D859464eD2AC54DD2C222519B7'
      },
      ltc: {
        name: 'Litecoin',
        address: 'LUcHis3B8SFtEeZtuCaZoqsyN9XFAKmbCP'
      }
    }
  }
})
window.addEventListener('hashchange', function () {
  coins.type = window.location.hash.slice(1)
})
</script>

<h2 id="Recurring-Pledges">Cykliczne wpłaty</h2>

<p>
Cykliczne wpłaty przynoszą ekskluzywne korzyści takie jak: Twoja nazwa wymieniona w repozytorium Vue na GitHubie lub logo twojej firmy umieszczone na tej stronie.
</p>

<ul>
  <li>
    <a href="https://www.patreon.com/evanyou" target="_blank">Zostań sponsorem przez Patreon</a> (bezpośrednio trafia na wsparcie pełnoetatowej pracy Evana You nad Vue)
  </li>
  <li>
    <a href="https://opencollective.com/vuejs">Zostań sponsorem przez OpenCollective</a> (Trafia do przejrzystego funduszu na docenienie wysiłków społeczności oraz organizację wydarzeń)
  </li>
</ul>

<h2>Aktualni sponsorzy premium:</h2>

<h3>Specjalni</h3>

<p class="platinum">
<%_ for (const sponsor of theme.special_sponsors) {_%>
  <a href="<%- sponsor.url %>" target="_blank">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>"<%- (sponsor.big_width || sponsor.big_height) ? ` style="${sponsor.big_width ? `width:${sponsor.big_width};`: ``}${sponsor.big_height ? `height:${sponsor.big_height};` : ``}"` : `` %>>
  </a>
<%_ } _%>
</p>

<h3>Platynowi</h3>

<p class="platinum">
<%_ for (const sponsor of theme.platinum_sponsors) {_%>
  <a href="<%- sponsor.url %>" target="_blank">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>">
  </a>
<%_ } _%>
</p>

<h3>Platynowi OpenCollective</h3>

<p class="open-collective-sponsors sponsor-section">
<%_ for (let i = 0; i < 10; i++) {_%>
  <a href="https://opencollective.com/vuejs/tiers/platinum-sponsors/<%- i %>/website" target="_blank">
    <img src="https://opencollective.com/vuejs/tiers/platinum-sponsors/<%- i %>/avatar.svg">
  </a>
<%_ } _%>
</p>

<h3>Specjalni sponsorzy (Chiny)</h3>

<p class="platinum">
<%_ for (const sponsor of theme.platinum_sponsors_china) {_%>
  <a href="<%- sponsor.url %>" target="_blank">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>"<%- (sponsor.big_width || sponsor.big_height) ? ` style="${sponsor.big_width ? `width:${sponsor.big_width};`: ``}${sponsor.big_height ? `height:${sponsor.big_height};` : ``}"` : `` %>>
  </a>
<%_ } _%>
</p>

<h3>Złoci Patreon</h3>

<p class="patreon-sponsors sponsor-section">
<%_ for (const sponsor of theme.gold_sponsors) {_%>
  <a href="<%- sponsor.url %>" target="_blank">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>">
  </a>
<%_ } _%>
</p>

<h3>Złoci OpenCollective</h3>

<p class="open-collective-sponsors sponsor-section">
<%_ for (let i = 0; i < 10; i++) {_%>
  <a href="https://opencollective.com/vuejs/tiers/gold-sponsors/<%- i %>/website" target="_blank">
    <img src="https://opencollective.com/vuejs/tiers/gold-sponsors/<%- i %>/avatar.svg">
  </a>
<%_ } _%>
</p>

<h3>Srebrni Patreon</h3>

<p class="patreon-sponsors sponsor-section">
<%_ for (const sponsor of theme.silver_sponsors) {_%>
  <a href="<%- sponsor.url %>" target="_blank">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>">
  </a>
<%_ } _%>
</p>

<h3>Srebrni OpenCollective</h3>

<p class="open-collective-sponsors sponsor-section">
<%_ for (let i = 0; i < 5; i++) {_%>
  <a href="https://opencollective.com/vuejs/tiers/silver-sponsors/<%- i %>/website" target="_blank">
    <img src="https://opencollective.com/vuejs/tiers/silver-sponsors/<%- i %>/avatar.svg">
  </a>
<%_ } _%>
</p>

<p>
Jeśli prowadzisz firmę i używasz Vue w produkcie generującym przychody, wspieranie rozwoju Vue ma biznesowy sens: <b>zapewnia, że ​​projekt, na którym opiera się Twój produkt, pozostaje zdrowy i aktywnie wspierany.</b> Może również pomóc znaleźć cię i przyciągnąć programistów Vue.
</p>

<p>
Jeśli jesteś indywidualnym użytkownikiem i zadowala cię produktywność Vue, uznaj darowiznę jako docenienie pracy - jak kupienie mi kawy raz na jakiś czas :)
</p>
