<h1>Sponsor Vue.js Development</h1>

<p>
Vue.js adalah sebuah proyek kode sumber terbuka berlisensi MIT dan bebas untuk digunakan. Bagaimanapun, upaya dibutuhkan untuk mengelola dan mengembangkan fitur baru untuk proyek tidak akan bertahan tanpa dukungan finansial yang layak. Kamu bisa mendukung pengembangan Vue.js dengan beberapa cara:
</p>

<h2 id="One-time-Donations">Donasi sekali waktu</h2>

<p>Kami menerima donasi melalui beberapa kanal:</p>

<div id="one-time-donations">
  <a href="https://www.paypal.me/evanyou" target="_blank">
    <img src="/images/paypal.png" style="width:100px">
  </a>
  <a href="#btc"><%- partial('icons/btc') %> BTC</a>
  <a href="#bch"><%- partial('icons/bch') %> BCH</a>
  <a href="#eth"><%- partial('icons/eth') %> ETH</a>
  <a href="#ltc"><%- partial('icons/ltc') %> LTC
  </a>
</div>

<div id="coin-details" v-if="type && coins[type]">
  <p>{{ coins[type].name }} Address:<br>{{ coins[type].address }}</p>
  <img :src="'/images/coin-' + type + '.png'">
</div>
<script>
var coins = new Vue({
  el: '#coin-details',
  data: {
    type: window.location.hash.slice(1),
    coins: {
      btc: {
        name: 'Bitcoin',
        address: '14MEpy5a9MwDZa9CUzrfDhTU8dy2KKJ5mU'
      },
      bch: {
        name: 'Bitcoin Cash',
        address: '15gftB3fwumFRWGWFhVzTgc4nhM5w1F2Tu'
      },
      eth: {
        name: 'Ethereum',
        address: '0x3411356C1f0Bf5D859464eD2AC54DD2C222519B7'
      },
      ltc: {
        name: 'Litecoin',
        address: 'LUcHis3B8SFtEeZtuCaZoqsyN9XFAKmbCP'
      }
    }
  }
})
window.addEventListener('hashchange', function () {
  coins.type = window.location.hash.slice(1)
})
</script>

<h2 id="Recurring-Pledges">Donasi berkala</h2>

<p>
Donasi berkala datang dengan fasilitas eksklusif, misalnya namamu tercantum di repositori GitHub Vue, atau logo perusahaanmu diletakan dalam situs web ini.
</p>

<ul>
  <li>
    <a href="https://www.patreon.com/evanyou" target="_blank">Menjadi pendukung atau sponsor melalui Patreon</a> (pergi langsung untuk mendukung Evan You bekerja penuh dalam Vue)
  </li>
  <li>
    <a href="https://opencollective.com/vuejs">Menjadi pendukung atau sponsor melalui OpenCollective</a> (biayai dengan model biaya transparan mendukung upaya komunitas dan kegiatan)
  </li>
</ul>

<h2>Sponsor Premium Saat Ini:</h2>

<h3>Sponsor Special</h3>

<p class="platinum">
<%_ for (const sponsor of theme.special_sponsors) {_%>
  <a href="<%- sponsor.url %>" target="_blank">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>"<%- (sponsor.big_width || sponsor.big_height) ? ` style="${sponsor.big_width ? `width:${sponsor.big_width};`: ``}${sponsor.big_height ? `height:${sponsor.big_height};` : ``}"` : `` %>>
  </a>
<%_ } _%>
</p>

<h3>Platinum</h3>

<p class="platinum">
<%_ for (const sponsor of theme.platinum_sponsors) {_%>
  <a href="<%- sponsor.url %>" target="_blank">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>">
  </a>
<%_ } _%>
</p>

<h3>OpenCollective Platinum</h3>

<p class="open-collective-sponsors sponsor-section">
<%_ for (let i = 0; i < 10; i++) {_%>
  <a href="https://opencollective.com/vuejs/tiers/platinum-sponsors/<%- i %>/website" target="_blank">
    <img src="https://opencollective.com/vuejs/tiers/platinum-sponsors/<%- i %>/avatar.svg">
  </a>
<%_ } _%>
</p>

<h3>Special Sponsors (China)</h3>

<p class="platinum">
<%_ for (const sponsor of theme.platinum_sponsors_china) {_%>
  <a href="<%- sponsor.url %>" target="_blank">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>"<%- (sponsor.big_width || sponsor.big_height) ? ` style="${sponsor.big_width ? `width:${sponsor.big_width};`: ``}${sponsor.big_height ? `height:${sponsor.big_height};` : ``}"` : `` %>>
  </a>
<%_ } _%>
</p>

<h3>Patreon Gold</h3>

<p class="patreon-sponsors sponsor-section">
<%_ for (const sponsor of theme.gold_sponsors) {_%>
  <a href="<%- sponsor.url %>" target="_blank">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>">
  </a>
<%_ } _%>
</p>

<h3>OpenCollective Gold</h3>

<p class="open-collective-sponsors sponsor-section">
<%_ for (let i = 0; i < 10; i++) {_%>
  <a href="https://opencollective.com/vuejs/tiers/gold-sponsors/<%- i %>/website" target="_blank">
    <img src="https://opencollective.com/vuejs/tiers/gold-sponsors/<%- i %>/avatar.svg">
  </a>
<%_ } _%>
</p>

<h3>Patreon Silver</h3>

<p class="patreon-sponsors sponsor-section">
<%_ for (const sponsor of theme.silver_sponsors) {_%>
  <a href="<%- sponsor.url %>" target="_blank">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>">
  </a>
<%_ } _%>
</p>

<h3>OpenCollective Silver</h3>

<p class="open-collective-sponsors sponsor-section">
<%_ for (let i = 0; i < 5; i++) {_%>
  <a href="https://opencollective.com/vuejs/tiers/silver-sponsors/<%- i %>/website" target="_blank">
    <img src="https://opencollective.com/vuejs/tiers/silver-sponsors/<%- i %>/avatar.svg">
  </a>
<%_ } _%>
</p>

<p>
Jika kamu menjalankan sebuah bisnis dan menggunakan Vue dalam produk pendapatan, itu masuk akal untuk mensponsori pengembangan Vue: <b>ini memastikan proyekmu yang bergantung (pada Vue) dalam keadaan sehat dan dikelola secara aktif.</b> Ini bisa juga membantu keberadaanmu dalam komunitas Vue dan membuatnya lebih mudah untuk menarik developer Vue.
</p>

<p>
Jika kamu adalah seorang individu dan menikmati produktivitas dalam menggunakan Vue, mempertimbangkan berdonasi sebagai tanda apresiasi - seperti membelikanku kopi sesekali :)
</p>
