<h1 id="sponsor-Vue-js-Development">Станьте спонсором розробки Vue.js</h1>

<p>
Vue.js є повністю безкоштовним MIT-ліцензованим open-source проектом.
Разом з тим, кількість зусиль, необхідних для його підтримки та розробки нових можливостей для проекту не є здійнеснною на постійній основі без належної фінансової підтримки. Ви можете підтримати розробку Vue.js різними способами:
</p>

<h2 id="One-time-Donations">Разові пожертвування</h2>

<p>Ми приймаємо пожертвування через канали:</p>

<div id="one-time-donations">
  <a href="https://www.paypal.me/evanyou" target="_blank" rel="noopener">
    <img src="/images/paypal.png" style="width:100px">
  </a>
  <a href="#btc"><%- partial('icons/btc') %> BTC</a>
  <a href="#bch"><%- partial('icons/bch') %> BCH</a>
  <a href="#eth"><%- partial('icons/eth') %> ETH</a>
  <a href="#ltc"><%- partial('icons/ltc') %> LTC
  </a>
</div>

<div id="coin-details" v-if="type && coins[type]">
  <p>{{ coins[type].name }} Адреса:<br>{{ coins[type].address }}</p>
  <img :src="'/images/coin-' + type + '.png'">
</div>
<script>
var coins = new Vue({
  el: '#coin-details',
  data: {
    type: window.location.hash.slice(1),
    coins: {
      btc: {
        name: 'Bitcoin',
        address: '14MEpy5a9MwDZa9CUzrfDhTU8dy2KKJ5mU'
      },
      bch: {
        name: 'Bitcoin Cash',
        address: '15gftB3fwumFRWGWFhVzTgc4nhM5w1F2Tu'
      },
      eth: {
        name: 'Ethereum',
        address: '0x3411356C1f0Bf5D859464eD2AC54DD2C222519B7'
      },
      ltc: {
        name: 'Litecoin',
        address: 'LUcHis3B8SFtEeZtuCaZoqsyN9XFAKmbCP'
      }
    }
  }
})
window.addEventListener('hashchange', function () {
  coins.type = window.location.hash.slice(1)
})
</script>

<h2 id="Recurring-Pledges">Постійні внески</h2>

<p>
  Постійні внески йдуть з ексклюзивними бонусами, наприклад, відображення Вашого імені у репозиторії GitHub, або розміщення логотипу Вашої компанії на цьому сайті.
</p>

<ul>
  <li>
    <a href="https://www.patreon.com/evanyou" target="_blank" rel="noopener">Стати спонсором через Patreon</a> (йде безспосередньо на підтримку роботи full-time для Evan You на Vue)
  </li>
  <li>
    <a href="https://opencollective.com/vuejs">Підтримати через OpenCollective</a> (йде до фонду з прозорою моделлю витрат для підтримки зусиль спільноти та організації подій)
  </li>
</ul>

<h2 id="current-premium-sponsors">Поточні преміум спонсори</h2>

<h3 id="special-sponsors">Спеціальні спонсори</h3>

<p class="platinum">
<%_ for (const sponsor of theme.special_sponsors) {_%>
  <a href="<%- sponsor.url %>" target="_blank" rel="noopener">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>"<%- (sponsor.big_width || sponsor.big_height) ? ` style="${sponsor.big_width ? `width:${sponsor.big_width};`: ``}${sponsor.big_height ? `height:${sponsor.big_height};` : ``}"` : `` %>>
  </a>
<%_ } _%>
</p>

<h3 id="platinum">Платинові спонсори</h3>

<p class="platinum">
<%_ for (const sponsor of theme.platinum_sponsors) {_%>
  <a href="<%- sponsor.url %>" target="_blank" rel="noopener">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>">
  </a>
<%_ } _%>
</p>

<h3 id="open-collective-platinum">Платинові на OpenCollective</h3>

<p class="open-collective-sponsors sponsor-section">
<%_ for (let i = 0; i < 10; i++) {_%>
  <a href="https://opencollective.com/vuejs/tiers/platinum-sponsors/<%- i %>/website" target="_blank" rel="noopener">
    <img src="https://opencollective.com/vuejs/tiers/platinum-sponsors/<%- i %>/avatar.svg">
  </a>
<%_ } _%>
</p>

<h3 id="special-sponsors-china">Спеціальні спонсори в Китаї</h3>

<p class="platinum">
<%_ for (const sponsor of theme.platinum_sponsors_china) {_%>
  <a href="<%- sponsor.url %>" target="_blank" rel="noopener">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>"<%- (sponsor.big_width || sponsor.big_height) ? ` style="${sponsor.big_width ? `width:${sponsor.big_width};`: ``}${sponsor.big_height ? `height:${sponsor.big_height};` : ``}"` : `` %>>
  </a>
<%_ } _%>
</p>

<h3 id="patreon-gold">Золоті на Patreon</h3>

<p class="patreon-sponsors sponsor-section">
<%_ for (const sponsor of theme.gold_sponsors) {_%>
  <a href="<%- sponsor.url %>" target="_blank" rel="noopener">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>">
  </a>
<%_ } _%>
</p>

<h3 id="open-collective-gold">Золоті на OpenCollective</h3>

<p class="open-collective-sponsors sponsor-section">
<%_ for (let i = 0; i < 10; i++) {_%>
  <a href="https://opencollective.com/vuejs/tiers/gold-sponsors/<%- i %>/website" target="_blank" rel="noopener">
    <img src="https://opencollective.com/vuejs/tiers/gold-sponsors/<%- i %>/avatar.svg">
  </a>
<%_ } _%>
</p>

<h3 id="patreon-silver">Срібні на Patreon</h3>

<p class="patreon-sponsors sponsor-section">
<%_ for (const sponsor of theme.silver_sponsors) {_%>
  <a href="<%- sponsor.url %>" target="_blank" rel="noopener">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>">
  </a>
<%_ } _%>
</p>

<h3 id="open-collective-silver">Срібні на OpenCollective</h3>

<p class="open-collective-sponsors sponsor-section">
<%_ for (let i = 0; i < 5; i++) {_%>
  <a href="https://opencollective.com/vuejs/tiers/silver-sponsors/<%- i %>/website" target="_blank" rel="noopener">
    <img src="https://opencollective.com/vuejs/tiers/silver-sponsors/<%- i %>/avatar.svg">
  </a>
<%_ } _%>
</p>

<p>
  Якщо Ви є власником бізнесу та використовуєте Vue в продукті, який приносить Вам прибутки, є доцільним для Вашого бізнесу бути спонсором розробки Vue: <b>це дасть Вам переконання, що проект, на який покладається Ваш продукт стабільно розвивається.</b> Це також може сприяти вашій впізнаваності у Vue спільноті та приверненні уваги розробників Vue.
</p>

<p>
  Якщо Ви користуєтесь Vue індивідуально та отримаєте задоволення від цього, розгляньте можливість пожертвування як знак вдячності, наприклад, купивши мені каву якось колись :)
</p>
