<script>
    // G+ button
    ;(function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>

<div id="hero">
    <div class="inner">
        <ul id="nav">
            <li><a href="<%- config.root %>guide/" class="nav-link">入门</a></li>
            <li><a href="<%- config.root %>api/" class="nav-link">API 索引</a></li>
            <li><a href="<%- config.root %>examples/" class="nav-link">示例</a></li>
            <li><a href="<%- config.root %>blog/" class="nav-link">Blog</a></li>
        </ul>
        <img id="logo" src="<%- config.root %>images/logo.png">
        <h1>Vue.js</h1>
        <p class="sub">精简的 MVVM</p>
        <p class="desc">Vue.js 是一个用于创建 web 交互界面的库。<br>它具有简单而灵活的 API，创建出来的组件可以实时反映数据的变化。</p>
        <p class="buttons">
            <a href="<%- config.root %>guide/installation.html" class="button">获取 Vue.js v<%- theme.vue_version %></a>
            <a href="https://github.com/yyx990803/vue" target="_blank" class="button">源代码在 GitHub 上</a>
        </p>
        <ul id="social">
            <li><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="http://vuejs.org" data-text="Vue.js - MVVM made simple" data-via="vuejs">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
            <li><iframe src="http://ghbtns.com/github-btn.html?user=yyx990803&repo=vue&type=watch&count=true"
        allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe></li>
            <li><g:plusone href="http://vuejs.org" size="medium"></g:plusone></li>
        </ul>
    </div>
    <div class="down"><img src="<%- config.root %>images/down.png"></div>
</div>

<div id="example">
    <h2>10 秒钟看懂 Vue.js</h2>
    <div class="block">
        <figure class="highlight lang-html"><table><tbody><tr><td class="gutter"><pre>1
2
3
4
</pre></td><td class="code"><pre><span class="tag">&lt;<span class="title">div</span> <span class="attribute">id</span>=<span class="value">"demo"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">p</span>&gt;</span>{{message}}<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
    <span class="tag">&lt;<span class="title">input</span> <span class="attribute">v-model</span>=<span class="value">"message"</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
</pre></td></tr></tbody></table></figure>
    </div>

    <div class="sign">+</div>

    <div class="block">
        <figure class="highlight lang-js"><table><tbody><tr><td class="gutter"><pre>1
2
3
4
5
6
</pre></td><td class="code"><pre><span class="keyword">var</span> demo = <span class="keyword">new</span> Vue({
    el: <span class="string">'#demo'</span>,
    data: {
        message: <span class="string">'Hello Vue.js!'</span>
    }
})
</pre></td></tr></tbody></table></figure>
    </div>

    <div class="sign">=</div>

    <div class="block result">
        <div id="demo">
            <p>{{message}}</p>
            <input v-model="message">
        </div>
        <script>
        var demo = new Vue({
            el: '#demo',
            data: {
                message: 'Hello Vue.js!'
            }
        })
        </script>
    </div>
</div>
<div id="features">
    <div class="feats">
        <div class="feat">
            <h2><span class="icon simple"></span>简单</h2>
            <p>写点 HTML，拿来 JSON，创建一个 Vue 示例，就这么简单。</p>
        </div>
        <div class="feat">
            <h2><span class="icon fast"></span>快速</h2>
            <p>以精确有效的异步批处理方式更新 DOM。</p>
        </div>
        <div class="feat">
            <h2><span class="icon composable"></span>组合</h2>
            <p>用解耦的、可复用的组件组合你的应用程序。</p>
        </div>
        <div class="feat">
            <h2><span class="icon compact"></span>紧凑</h2>
            <p>~18kb min+gzip，且无依赖。</p>
        </div>
        <div class="feat">
            <h2><span class="icon powerful"></span>强大</h2>
            <p>表达式 & 无需声明依赖的可推导属性 (computed properties)。</p>
        </div>
        <div class="feat">
            <h2><span class="icon module"></span>对模块友好</h2>
            <p>可以通过 NPM、Bower 或 Duo 安装——无缝融入你的生命！</p>
        </div>
    </div>
</div>
<div id="why">
    <h2>不妨试试看，如果你喜欢：</h2>
    <ul>
        <li>可扩展的数据绑定</li>
        <li>将普通的 JS 对象作为 model</li>
        <li>简洁明了的 API</li>
        <li>组件化 UI 构建</li>
        <li>配合别的库使用</li>
    </ul>
</div>
<div id="footer">
    <a class="start" href="<%- config.root %>guide/index.html">现在开始学习 Vue.js</a>
    <p>基于 <a href="http://opensource.org/licenses/MIT" target="_blank">MIT License</a> 发布</p>
    <p>中文翻译: <a href="http://jiongks.name" target="_blank">勾三股四</a> (<a href="https://github.com/Jinjiang/vuejs.org/tree/lang-zh" target="_blank">我要加入翻译!</a>)</p>
    <p>Copyright (c) <%- date(Date.now(), 'YYYY') %> <a href="http://evanyou.me" target="_blank">Evan You</a></p>
</div>