<li class="nav-dropdown-container language">
  <a class="nav-link">Traduções</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="https://cn.vuejs.org/<%- page.path %>" class="nav-link" target="_blank">Chinês</a></li>
    <li><a href="https://kr.vuejs.org/<%- page.path %>" class="nav-link" target="_blank">Coreano</a></li>
    <li><a href="https://fr.vuejs.org/<%- page.path %>" class="nav-link" target="_blank">Francês</a></li>
    <li><a href="https://vuejs.org/<%- page.path %>" class="nav-link" target="_blank">Inglês</a></li>
    <li><a href="https://jp.vuejs.org/<%- page.path %>" class="nav-link" target="_blank">Japonês</a></li>
    <li><a href="https://br.vuejs.org/<%- page.path %>" class="nav-link" target="_blank">Português</a></li>
    <li><a href="https://ru.vuejs.org/<%- page.path %>" class="nav-link" target="_blank">Russo</a></li>
  </ul>
</li>
