<li class="nav-dropdown-container language">
  <a class="nav-link">Translations</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="https://cn.vuejs.org/<%- page.path %>" class="nav-link">中文</a></li>
    <li><a href="https://jp.vuejs.org/<%- page.path %>" class="nav-link">日本語</a></li>
    <li><a href="https://ru.vuejs.org/<%- page.path %>" class="nav-link">Русский</a></li>
    <li><a href="https://kr.vuejs.org/<%- page.path %>" class="nav-link">한국어</a></li>
    <li><a href="https://br.vuejs.org/<%- page.path %>" class="nav-link">Português</a></li>
    <li><a href="https://fr.vuejs.org/<%- page.path %>" class="nav-link">Français</a></li>
    <li><a href="https://vi.vuejs.org/<%- page.path %>" class="nav-link">Tiếng Việt</a></li>
    <li><a href="https://es.vuejs.org/<%- page.path %>" class="nav-link">Español</a></li>
    <li><a href="https://docs.vuejs.id/<%- page.path %>" class="nav-link">Bahasa Indonesia</a></li>
  </ul>
</li>
