<li class="nav-dropdown-container language">
  <a class="nav-link">Translations</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="https://cn.vuejs.org/<%- page.path %>" class="nav-link" target="_blank" rel="noopener">中文</a></li>
    <li><a href="https://jp.vuejs.org/<%- page.path %>" class="nav-link" target="_blank" rel="noopener">日本語</a></li>
    <li><a href="https://ru.vuejs.org/<%- page.path %>" class="nav-link" target="_blank" rel="noopener">Русский</a></li>
    <li><a href="https://kr.vuejs.org/<%- page.path %>" class="nav-link" target="_blank" rel="noopener">한국어</a></li>
    <li><a href="https://br.vuejs.org/<%- page.path %>" class="nav-link" target="_blank" rel="noopener">Português</a></li>
    <li><a href="https://fr.vuejs.org/<%- page.path %>" class="nav-link" target="_blank" rel="noopener">Français</a></li>
    <li><a href="https://vi.vuejs.org/<%- page.path %>" class="nav-link" target="_blank" rel="noopener">Tiếng Việt</a></li>
    <li><a href="https://es.vuejs.org/<%- page.path %>" class="nav-link" target="_blank" rel="noopener">Español</a></li>
    <li><a href="https://docs.vuejs.id/<%- page.path %>" class="nav-link" target="_blank" rel="noopener">Bahasa Indonesia</a></li>
  </ul>
</li>
