<li class="nav-dropdown-container learn">
  <a class="nav-link<%- page.path.match(/\/(guide(?!\/team.html$)|api|style-guide|examples|cookbook)(\/|$)/) ? ' current' : '' %>" tabindex="0" aria-haspopup="true" aria-expanded="false">Learn</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><ul class="nav-dropdown-items">
      <li><a href="<%- url_for("/v2/guide/") %>" class="nav-link<%- page.path.match(/\/guide(\/|$)/) ? ' current' : '' %>" tabindex="0">Guide</a></li>
      <li><a href="<%- url_for("/v2/api/") %>" class="nav-link<%- page.path.match(/\/api(\/|$)/) ? ' current' : '' %>" tabindex="0">API</a></li>
      <li><a href="<%- url_for("/v2/style-guide/") %>" class="nav-link<%- page.path.match(/\/style-guide(\/|$)/) ? ' current' : '' %>" tabindex="0">Style Guide</a></li>
      <li><a href="<%- url_for("/v2/examples/") %>" class="nav-link<%- page.path.match(/\/examples(\/|$)/) ? ' current' : '' %>" tabindex="0">Examples</a></li>
      <li><a href="<%- url_for("/v2/cookbook/") %>" class="nav-link<%- page.path.match(/\/cookbook(\/|$)/) ? ' current' : '' %>" tabindex="0">Cookbook</a></li>
    </ul></li>
  </ul>
</li>