<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input" aria-label="Search">
  </form>
</li>
<%- partial('partials/learn_dropdown') %>
<%- partial('partials/ecosystem_dropdown') %>
<%- partial('partials/resources_dropdown') %>
<li>
  <a href="/eol/" class="badge-parent">EOL<sup class="badge">NEW</sup></a>
</li>
<%- partial('partials/language_dropdown') %>
