<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li>
<<<<<<< 9f68b924ea7c53b5b106e14569158b265b42c121
<li><a href="./v2/guide/" class="nav-link<%- page.path.match(/guide/) ? ' current' : '' %>">Guide</a></li>
<li><a href="./v2/api/" class="nav-link<%- page.path.match(/api/) ? ' current' : '' %>">API</a></li>
<li><a href="./v2/examples/" class="nav-link<%- page.path.match(/examples/) ? ' current' : '' %>">Exemples</a></li>
=======
<li><a href="/v2/guide/" class="nav-link<%- page.path.match(/guide/) ? ' current' : '' %>">Guide</a></li>
<li><a href="/v2/api/" class="nav-link<%- page.path.match(/api/) ? ' current' : '' %>">API</a></li>
<li><a href="/v2/examples/" class="nav-link<%- page.path.match(/examples/) ? ' current' : '' %>">Exemples</a></li>
>>>>>>> Translate navigation menu
<%- partial('partials/ecosystem_dropdown') %>
<%- partial('partials/language_dropdown') %>
