<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li>
<li><a href="/guide/" class="nav-link<%- page.path.match(/guide/) ? ' current' : '' %>">教程</a></li>
<li><a href="/api/" class="nav-link<%- page.path.match(/api/) ? ' current' : '' %>">API</a></li>
<li><a href="/examples/" class="nav-link<%- page.path.match(/examples/) ? ' current' : '' %>">示例</a></li>
<li><a href="https://github.com/vuejs/vue/releases" target="_blank">更新</a></li>
<li><a href="https://github.com/vuejs/vue/issues/2873" target="_blank">Vue2 changes</a></li>
<li><a href="https://github.com/vuefe/vuejs.org/issues/1" target="_blank">翻译</a></li>


<li><a href="/blog/" class="nav-link<%- page.path.match(/blog/) ? ' current' : '' %>">博客</a></li>
<%- partial('partials/community_dropdown') %>
