<li><a href="/guide/" class="nav-link<%- page.path.match(/guide/) ? ' current' : '' %>">教程</a></li>
<li><a href="/api/" class="nav-link<%- page.path.match(/api/) ? ' current' : '' %>">API</a></li>
<li><a href="/about/" class="nav-link<%- page.path.match(/about/) ? ' current' : '' %>">参与贡献</a></li>
<li><a href="/vue-resource/" class="nav-link<%- page.path.match(/vue-resource/) ? ' current' : '' %>">vue-resource</a></li>
<li><a href="/vue-router/" class="nav-link<%- page.path.match(/vue-router/) ? ' current' : '' %>">vue-router</a></li>
<li><a href="/vuex/" class="nav-link<%- page.path.match(/vuex/) ? ' current' : '' %>">vuex</a></li>
<li><a href="/examples/" class="nav-link<%- page.path.match(/examples/) ? ' current' : '' %>">示例</a></li>
<li><a href="/more/" class="nav-link<%- page.path.match(/more/) ? ' current' : '' %>">更多</a></li>
<%- partial('partials/community_dropdown') %>
