<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li>
<li><a href="<%- url_for("/v2/guide/") %>" class="nav-link<%- page.path.match(/guide/) ? ' current' : '' %>">教程</a></li>
<li><a href="<%- url_for("/v2/api/") %>" class="nav-link<%- page.path.match(/api/) ? ' current' : '' %>">API</a></li>
<li><a href="<%- url_for("/v2/examples/") %>" class="nav-link<%- page.path.match(/examples/) ? ' current' : '' %>">示例</a></li>
<%- partial('partials/about_dropdown') %>
<%- partial('partials/components_dropdown') %>
<%- partial('partials/ecosystem_dropdown') %>
<%- partial('partials/language_dropdown') %>
<li>
  <a href="https://vue.threadless.com" target="_blank" class="nav-link shop">Shop</a>
</li>
