<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li>
<%- partial('partials/learn_dropdown') %>
<%- partial('partials/ecosystem_dropdown') %>
<li>
  <a href="<%- url_for("/v2/guide/team.html") %>" class="nav-link team<%- page.path.match(/team\.html/) ? ' current' : '' %>">Team</a>
</li>
<%- partial('partials/support_vue_dropdown') %>
<%- partial('partials/language_dropdown') %>
