<li><a href="/guide/" class="nav-link<%- page.path.match(/guide/) ? ' current' : '' %>">教程</a></li>
<li><a href="/api/" class="nav-link<%- page.path.match(/api/) ? ' current' : '' %>">API</a></li>
<li><a href="/examples/" class="nav-link<%- page.path.match(/examples/) ? ' current' : '' %>">示例</a></li>
<li><a href="/router/" class="nav-link<%- page.path.match(/router/) ? ' current' : '' %>">vue-router</a></li>
<li><a href="/vuex/" class="nav-link<%- page.path.match(/vuex/) ? ' current' : '' %>">vuex</a></li>
<li><a href="/ssr/" class="nav-link<%- page.path.match(/ssr/) ? ' current' : '' %>">SSR</a></li>
<li><a href="/awesome/" class="nav-link<%- page.path.match(/awesome/) ? ' current' : '' %>">资源</a></li>
<li><a href="/changelog/" class="nav-link<%- page.path.match(/changelog/) ? ' current' : '' %>">更新日志</a></li>
<li><a href="/about/" class="nav-link<%- page.path.match(/about/) ? ' current' : '' %>">关于翻译</a></li>
<%- partial('partials/community_dropdown') %>
