<div id="sidebar-sponsors-platinum-<%- context %>">
  <div class="main-sponsor">
    <span>플래티넘 스폰서</span>
    <div>
    <%_ for (const sponsor of theme.platinum_sponsors) {_%>
    <a href="<%- sponsor.url %>" target="_blank" rel="sponsored noopener" class="logo">
      <img src="<%- url_for(`/images/${sponsor.wide_img || sponsor.img}`) %>" alt="<%-sponsor.name-%>">
    </a>
    <%_ } _%>
    </div>
  </div>
  <a class="become-backer" href="<%- url_for("/support-vuejs") %>">
    스폰서 되기
  </a>
</div>
