<div class="sidebar">
  <div class="sidebar-inner">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
    <div class="list">
      <%- partial('partials/sponsors_sidebar') %>
      <% if (type !== 'search') { %>
        <h2>
          <% titles = {
            api: 'API',
            examples: 'Contoh',
            guide: 'Petunjuk',
            cookbook: 'Buku Petunjuk<sup class="beta">beta</sup>',
            'style-guide': '<i>Style Guide</i><sup class="beta">beta</sup>'
          } %>
          <%- titles[type] %>
          <% if (['cookbook', 'style-guide'].indexOf(type) === -1) { %>
            <select class="version-select">
              <option value="SELF" selected>2.x</option>
              <option value="v1">1.0</option>
              <option value="012">0.12</option>
              <option value="011">0.11</option>
            </select>
          <% } %>
        </h2>
        <%- partial('partials/toc', { type: type }) %>
      <% } %>
    </div>
  </div>
</div>

<%- partial('partials/platinum_sponsors', { context: 'right' }) %>
