<h3>Patreon Sponsors</h3>

<a href="https://stdlib.com/" target="_blank" style="width: 180px;">
  <img style="width: 180px;" src="<%- url_for("/images/stdlib.png") %>">
</a>
<br>
<br>
<a href="https://deepstreamhub.com" target="_blank" style="width: 130px; top: 1px;">
  <img src="<%- url_for("/images/deepstream.png") %>" style="width: 130px;">
</a>
<a href="https://jsfiddle.net/" target="_blank">
  <img src="<%- url_for("/images/jsfiddle.png") %>">
</a>
<a href="https://laravel.com/" target="_blank">
  <img src="<%- url_for("/images/laravel.png") %>">
</a>
<a href="https://chaitin.cn" target="_blank" style="top: -1px;">
  <img src="<%- url_for("/images/chaitin.png") %>">
</a>
<a href="https://htmlburger.com" target="_blank">
  <img src="<%- url_for("/images/htmlburger.png") %>">
</a>
<a href="https://starter.someline.com/" target="_blank" style="top: -2px;">
  <img src="<%- url_for("/images/someline.png") %>">
</a>
<a href="http://monterail.com/" target="_blank">
  <img src="<%- url_for("/images/monterail.png") %>">
</a>
<a href="https://www.2mhost.com/" target="_blank" style="width: 90px;">
  <img src="<%- url_for("/images/2mhost.png") %>" style="width: 90px;">
</a>
<a href="https://vuejobs.com/?ref=vuejs" target="_blank" style="width: 80px; top: 4px;">
  <img src="<%- url_for("/images/vuejobs.svg") %>" style="width: 80px;">
</a>
<a href="https://leanpub.com/vuejs2" target="_blank">
  <img src="<%- url_for("/images/tmvuejs2.png") %>">
</a>
<a href="https://component.io" target="_blank" style="width: 120px; top: 1px;">
  <img src="<%- url_for("/images/component_io.png") %>" style="width: 120px;">
</a>
<a href="https://www.v2ex.com/t/379389" target="_blank" style="width: 100px;">
  <img src="<%- url_for("/images/v2exer.png") %>" style="width: 100px;">
</a>
<a href="https://www.xfive.co/" target="_blank" style="width: 65px;">
  <img src="<%- url_for("/images/xfive.png") %>" style="width: 65px;">
</a>
<a href="http://www.frontenddevelopermeetups.com/" target="_blank" style="width: 100px;">
  <img src="<%- url_for("/images/frontend-meetups.png") %>" style="width: 100px">
</a>
<a href="https://onsen.io/vue/" target="_blank" style="width: 105px;">
  <img src="<%- url_for("/images/onsen-ui.png") %>" style="width: 105px;">
</a>
<a href="http://tooltwist.com/" target="_blank" style="width: 100px;">
  <img src="<%- url_for("/images/tooltwist.png") %>" style="width: 100px">
</a>
<br>

<a class="become-sponsor button white" href="<%- url_for("/support-vuejs/") %>">Become a Sponsor!</a>

<div class="open-collective-sponsors">
  <h3>OpenCollective Sponsors</h3>
  <h4>Platinum</h3>
  <a href="https://opencollective.com/vuejs/platinumsponsor/0/website" target="_blank"><img src="https://opencollective.com/vuejs/platinumsponsor/0/avatar.svg"></a><a href="https://opencollective.com/vuejs/platinumsponsor/1/website" target="_blank"><img src="https://opencollective.com/vuejs/platinumsponsor/1/avatar.svg"></a><a href="https://opencollective.com/vuejs/platinumsponsor/2/website" target="_blank"><img src="https://opencollective.com/vuejs/platinumsponsor/2/avatar.svg"></a><a href="https://opencollective.com/vuejs/platinumsponsor/3/website" target="_blank"><img src="https://opencollective.com/vuejs/platinumsponsor/3/avatar.svg"></a><a href="https://opencollective.com/vuejs/platinumsponsor/4/website" target="_blank"><img src="https://opencollective.com/vuejs/platinumsponsor/4/avatar.svg"></a><a href="https://opencollective.com/vuejs/platinumsponsor/5/website" target="_blank"><img src="https://opencollective.com/vuejs/platinumsponsor/5/avatar.svg"></a>
  <h4>Gold</h3>
  <a href="https://opencollective.com/vuejs/goldsponsor/0/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/0/avatar.svg"></a><a href="https://opencollective.com/vuejs/bronzesponsor/1/website" target="_blank"><img src="https://opencollective.com/vuejs/bronzesponsor/1/avatar.svg"></a><a href="https://opencollective.com/vuejs/goldsponsor/1/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/1/avatar.svg"></a><a href="https://opencollective.com/vuejs/goldsponsor/2/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/2/avatar.svg"></a><a href="https://opencollective.com/vuejs/goldsponsor/3/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/3/avatar.svg"></a><a href="https://opencollective.com/vuejs/goldsponsor/4/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/4/avatar.svg"></a><a href="https://opencollective.com/vuejs/goldsponsor/5/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/5/avatar.svg"></a><a href="https://opencollective.com/vuejs/goldsponsor/6/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/6/avatar.svg"></a><a href="https://opencollective.com/vuejs/goldsponsor/7/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/7/avatar.svg"></a><a href="https://opencollective.com/vuejs/goldsponsor/8/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/8/avatar.svg"></a><a href="https://opencollective.com/vuejs/goldsponsor/9/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/9/avatar.svg"></a><a href="https://opencollective.com/vuejs/goldsponsor/10/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/10/avatar.svg"></a><a href="https://opencollective.com/vuejs/goldsponsor/11/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/11/avatar.svg"></a><a href="https://opencollective.com/vuejs/goldsponsor/12/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/12/avatar.svg"></a><a href="https://opencollective.com/vuejs/goldsponsor/13/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/13/avatar.svg"></a><a href="https://opencollective.com/vuejs/goldsponsor/14/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/14/avatar.svg"></a><a href="https://opencollective.com/vuejs/goldsponsor/15/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/15/avatar.svg"></a><a href="https://opencollective.com/vuejs/goldsponsor/16/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/16/avatar.svg"></a><a href="https://opencollective.com/vuejs/goldsponsor/17/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/17/avatar.svg"></a><a href="https://opencollective.com/vuejs/goldsponsor/18/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/18/avatar.svg"></a><a href="https://opencollective.com/vuejs/goldsponsor/19/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/19/avatar.svg"></a><a href="https://opencollective.com/vuejs/goldsponsor/20/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/20/avatar.svg"></a><a href="https://opencollective.com/vuejs/goldsponsor/21/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/21/avatar.svg"></a><a href="https://opencollective.com/vuejs/goldsponsor/22/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/22/avatar.svg"></a><a href="https://opencollective.com/vuejs/goldsponsor/23/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/23/avatar.svg"></a><a href="https://opencollective.com/vuejs/goldsponsor/24/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/24/avatar.svg"></a><a href="https://opencollective.com/vuejs/goldsponsor/25/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/25/avatar.svg"></a><a href="https://opencollective.com/vuejs/goldsponsor/26/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/26/avatar.svg"></a><a href="https://opencollective.com/vuejs/goldsponsor/27/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/27/avatar.svg"></a><a href="https://opencollective.com/vuejs/goldsponsor/28/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/28/avatar.svg"></a><a href="https://opencollective.com/vuejs/goldsponsor/29/website" target="_blank"><img src="https://opencollective.com/vuejs/goldsponsor/29/avatar.svg"></a>
</div>

<script>
window.addEventListener('load', function () {
  [].forEach.call(document.querySelectorAll('.open-collective-sponsors img'), function (img) {
    if (img.width === 1) {
      img.width = 0
      img.parentElement.style.margin = '0 -1px 0 0'
    }
  })
})
</script>
