<h3>Patreon Sponsors</h3>

<a href="http://tooltwist.com/" target="_blank" style="width: 160px;">
  <img src="<%- url_for("/images/tooltwist.png") %>" style="width: 160px;">
</a>
<a href="https://www.infinitynewtab.com/donate/index.html" target="_blank" style="width: 160px; position:relative; top: 2px">
  <img src="/images/infinitynewtab.png" style="width: 160px;">
</a>
<br>
<br>
<a href="https://jsfiddle.net/" target="_blank">
  <img src="<%- url_for("/images/jsfiddle.png") %>">
</a>
<a href="https://laravel.com/" target="_blank">
  <img src="<%- url_for("/images/laravel.png") %>">
</a>
<a href="https://chaitin.cn" target="_blank" style="top: -1px;">
  <img src="<%- url_for("/images/chaitin.png") %>">
</a>
<a href="https://htmlburger.com" target="_blank">
  <img src="<%- url_for("/images/htmlburger.png") %>">
</a>
<a href="https://starter.someline.com/" target="_blank" style="top: -2px;">
  <img src="<%- url_for("/images/someline.png") %>">
</a>
<a href="http://monterail.com/" target="_blank">
  <img src="<%- url_for("/images/monterail.png") %>">
</a>
<a href="https://www.2mhost.com/" target="_blank" style="width: 90px;">
  <img src="<%- url_for("/images/2mhost.png") %>" style="width: 90px;">
</a>
<a href="https://vuejobs.com/?ref=vuejs" target="_blank" style="width: 80px; top: 4px;">
  <img src="<%- url_for("/images/vuejobs.svg") %>" style="width: 80px;">
</a>
<a href="https://leanpub.com/vuejs2" target="_blank">
  <img src="<%- url_for("/images/tmvuejs2.png") %>">
</a>
<a href="https://anymod.com" target="_blank" style="width: 120px; top: 1px;">
  <img src="<%- url_for("/images/anymod.png") %>" style="width: 120px;">
</a>
<a href="https://www.xfive.co/" target="_blank" style="width: 65px;">
  <img src="<%- url_for("/images/xfive.png") %>" style="width: 65px;">
</a>
<a href="https://www.frontenddeveloperlove.com/" target="_blank" style="width: 140px;">
  <img src="<%- url_for("/images/frontend-love.png") %>" style="width: 140px">
</a>
<a href="https://onsen.io/vue/" target="_blank" style="width: 105px;">
  <img src="<%- url_for("/images/onsen-ui.png") %>" style="width: 105px;">
</a>
<a href="https://vuetifyjs.com" target="_blank">
  <img src="<%- url_for("/images/vuetify.png") %>">
</a>
<br>

<a class="become-sponsor button white" href="<%- url_for("/support-vuejs/") %>">Become a Sponsor!</a>

<div class="open-collective-sponsors">
  <h3>OpenCollective Sponsors</h3>
  <h4>Platinum</h4>
  <a href="https://opencollective.com/vuejs/tiers/platinum-sponsors/0/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/platinum-sponsors/0/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/platinum-sponsors/1/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/platinum-sponsors/1/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/platinum-sponsors/2/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/platinum-sponsors/2/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/platinum-sponsors/3/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/platinum-sponsors/3/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/platinum-sponsors/4/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/platinum-sponsors/4/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/platinum-sponsors/5/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/platinum-sponsors/5/avatar.svg"></a>
  <h4>Gold</h4>
  <a href="https://opencollective.com/vuejs/tiers/gold-sponsors/0/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/gold-sponsors/0/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/gold-sponsors/1/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/gold-sponsors/1/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/gold-sponsors/2/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/gold-sponsors/2/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/gold-sponsors/3/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/gold-sponsors/3/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/gold-sponsors/4/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/gold-sponsors/4/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/gold-sponsors/5/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/gold-sponsors/5/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/gold-sponsors/6/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/gold-sponsors/6/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/gold-sponsors/7/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/gold-sponsors/7/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/gold-sponsors/8/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/gold-sponsors/8/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/gold-sponsors/9/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/gold-sponsors/9/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/gold-sponsors/10/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/gold-sponsors/10/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/gold-sponsors/11/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/gold-sponsors/11/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/gold-sponsors/12/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/gold-sponsors/12/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/gold-sponsors/13/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/gold-sponsors/13/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/gold-sponsors/14/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/gold-sponsors/14/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/gold-sponsors/15/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/gold-sponsors/15/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/gold-sponsors/16/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/gold-sponsors/16/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/gold-sponsors/17/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/gold-sponsors/17/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/gold-sponsors/18/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/gold-sponsors/18/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/gold-sponsors/19/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/gold-sponsors/19/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/gold-sponsors/20/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/gold-sponsors/20/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/gold-sponsors/21/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/gold-sponsors/21/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/gold-sponsors/22/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/gold-sponsors/22/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/gold-sponsors/23/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/gold-sponsors/23/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/gold-sponsors/24/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/gold-sponsors/24/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/gold-sponsors/25/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/gold-sponsors/25/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/gold-sponsors/26/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/gold-sponsors/26/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/gold-sponsors/27/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/gold-sponsors/27/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/gold-sponsors/28/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/gold-sponsors/28/avatar.svg"></a><a href="https://opencollective.com/vuejs/tiers/gold-sponsors/29/website" target="_blank"><img src="https://opencollective.com/vuejs/tiers/gold-sponsors/29/avatar.svg"></a>
</div>

<script>
window.addEventListener('load', function () {
  [].forEach.call(document.querySelectorAll('.open-collective-sponsors img'), function (img) {
    if (img.width === 1) {
      img.width = 0
      img.parentElement.style.margin = '0 -1px 0 0'
    }
  })
})
</script>
