<h3>Patreon Sponsors</h3>

<%_ for (const sponsor of theme.platinum_sponsors.slice(1)) {_%>
<a href="<%- sponsor.url %>" target="_blank" style="width: 160px;">
  <img src="<%- url_for(`/images/${sponsor.img}`) %>" style="width: 160px;">
</a>
<%_ } _%>
<br>
<br>
<%_ for (const sponsor of theme.gold_sponsors) {_%>
<a href="<%- sponsor.url %>" target="_blank" style="width: 120px;">
  <img src="<%- url_for(`/images/${sponsor.img}`) %>" style="width: 120px;">
</a>
<%_ } _%>
<br>

<a class="become-sponsor button white" href="<%- url_for("/support-vuejs/") %>">Become a Sponsor!</a>

<div class="open-collective-sponsors">
  <h3>OpenCollective Sponsors</h3>
  <h4>Platinum</h4>
  <%_ for (let i = 0; i < 3; i++) {_%>
  <a href="https://opencollective.com/vuejs/tiers/platinum-sponsors/<%- i %>/website" target="_blank">
    <img src="https://opencollective.com/vuejs/tiers/platinum-sponsors/<%- i %>/avatar.svg">
  </a>
  <%_ } _%>
  <h4>Gold</h4>
  <%_ for (let i = 0; i < 10; i++) {_%>
  <a href="https://opencollective.com/vuejs/tiers/gold-sponsors/<%- i %>/website" target="_blank">
    <img src="https://opencollective.com/vuejs/tiers/gold-sponsors/<%- i %>/avatar.svg">
  </a>
  <%_ } _%>
</div>

<script>
window.addEventListener('load', function () {
  [].forEach.call(document.querySelectorAll('.open-collective-sponsors img'), function (img) {
    if (img.width === 1) {
      img.width = 0
      img.parentElement.style.margin = '0 -1px 0 0'
    }
  })
})
</script>
