<a href="https://jsfiddle.net/" target="_blank">
  <img src="<%- url_for("/images/jsfiddle.png") %>">
</a>
<a href="https://laravel.com/" target="_blank">
  <img src="<%- url_for("/images/laravel.png") %>">
</a>
<a href="https://chaitin.cn" target="_blank" style="top:-1px">
  <img src="<%- url_for("/images/chaitin.png") %>">
</a>
<a href="https://htmlburger.com" target="_blank">
  <img src="<%- url_for("/images/htmlburger.png") %>">
</a>
<a href="https://starter.someline.com/" target="_blank" style="top:-2px">
  <img src="<%- url_for("/images/someline.png") %>">
</a>
<a href="http://monterail.com/" target="_blank">
  <img src="<%- url_for("/images/monterail.png") %>">
</a>
<a href="https://www.trisoft.ro/" target="_blank" style="width:80px;top:-2px">
  <img src="<%- url_for("/images/trisoft.png") %>" style="width:80px">
</a>
<a href="https://www.2mhost.com/" target="_blank" style="width:90px">
  <img src="<%- url_for("/images/2mhost.png") %>" style="width:90px">
</a>
<a href="https://vuejobs.com/?ref=vuejs" target="_blank" style="width:90px;top:5px">
  <img src="<%- url_for("/images/vuejobs.svg") %>" style="width:90px">
</a>
<a href="https://leanpub.com/vuejs2" target="_blank">
  <img src="<%- url_for("/images/tmvuejs2.png") %>">
</a>
<a href="https://stdlib.com/" target="_blank" style="width:80px">
  <img src="<%- url_for("/images/stdlib.png") %>">
</a>
